---
import Layout from '../layouts/layouts.astro'
import Main from '../components/Main.astro'
import H1 from '../components/h1.astro'
---

<Layout title="ABOUT ME">
  <Main class="py-12">
    <div class="flex items-center justify-center mb-8 mt-8">
      <img src="/Xephas.jpg" alt="Xephas" class="w-32 h-32 rounded-full object-cover" />
    </div>
    <H1 text="ABOUT ME"></H1>
    
    <p class="text-lg text-gray-700">Xephas, also known as Mugisa Brian Cephas, is an expert Flutter Developer since 2020. He is a Software Engineer with extensive experience in Cross-Platform App Development and a profound passion for Graphics and UI/UX Design. His purpose and passion lie in designing and developing experiences that improve people's lives.</p>
    <p class="text-sky-950 text-lg font-semibold mt-2  ">Connect with Xephas:</p>
    <div class="mt-3 max-h-48 mb-7 overflow-y-auto">
        
        <ul class="flex flex-col space-y-2">
          <li><a href="mailto:mugisabrian096@gmail.com" class="text-blue-600 hover:text-blue-800">Email</a></li>
          <li><a href="https://github.com/capps096github" target="_blank" class="text-blue-600 hover:text-blue-800">GitHub</a></li>
          <li><a href="https://play.google.com/store/apps/dev?id=8238184494150117614" target="_blank" class="text-blue-600 hover:text-blue-800">PlayStore</a></li>
          <li><a href="https://twitter.com/xephas_official" target="_blank" class="text-blue-600 hover:text-blue-800">Twitter</a></li>
          <li><a href="https://www.linkedin.com/in/xephasofficial/" target="_blank" class="text-blue-600 hover:text-blue-800">LinkedIn</a></li>
          <li><a href="https://www.youtube.com/@flutter_era/videos" target="_blank" class="text-blue-600 hover:text-blue-800">YouTube</a></li>
          <li><a href="https://stackoverflow.com/users/19142356/mugisa-brian-cephas" target="_blank" class="text-blue-600 hover:text-blue-800">Stack Overflow</a></li>
        </ul>
      </div>
      
  </Main>
</Layout>
