---
import Layout from '../layouts/layouts.astro'
import Main from '../components/Main.astro'
import H1 from '../components/h1.astro'
---

<Layout title="ABOUT ME">
  <Main class="py-12">
    <H1 text="ABOUT ME"></H1>
    <p class="text-lg text-gray-700">Xephas, also known as Mugisa Brian Cephas, is an expert Flutter Developer since 2020. He is a Software Engineer with extensive experience in Cross-Platform App Development and a profound passion for Graphics and UI/UX Design. His purpose and passion lie in designing and developing experiences that improve people's lives.</p>
    <div class="mt-8">
      <p class="text-gray-700 text-lg font-semibold mb-2">Connect with Xephas:</p>
      <ul class="flex space-x-4">
        <li>
          <a href="mailto:mugisabrian096@gmail.com" class="text-blue-600 hover:text-blue-800">Email</a>
        </li>
        <li>
          <a href="https://github.com/capps096github" target="_blank" class="text-blue-600 hover:text-blue-800">GitHub</a>
        </li>
        <li>
          <a href="https://play.google.com/store/apps/developer?id=APTA+CONSULTS+LIMITED" target="_blank" class="text-blue-600 hover:text-blue-800">PlayStore</a>
        </li>
        <li>
          <a href="https://twitter.com/xephas_official" target="_blank" class="text-blue-600 hover:text-blue-800">Twitter</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/xephasofficial/" target="_blank" class="text-blue-600 hover:text-blue-800">LinkedIn</a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCzVJEsMLjivByH4PcayctPw" target="_blank" class="text-blue-600 hover:text-blue-800">YouTube</a>
        </li>
        <li>
          <a href="https://stackoverflow.com/users/11406719/mugisa-brian-cephas" target="_blank" class="text-blue-600 hover:text-blue-800">Stack Overflow</a>
        </li>
      </ul>
    </div>
  </Main>
</Layout>
