---
import Layout from '../layouts/layouts.astro'
import Navbar from  '../components/navbar.astro'
---

<Layout title ="XEPHAS|MOBILE DEVELOPER" >
 
  <Navbar/>
  <h1 class="text-3xl font-bold ">hello jovic</h1>

</Layout>
