---
import { Image } from "astro:assets";

---

<header class="navbar bg-sky-950 fixed left-0 right-0  z-index ">
  <div class="flex justify-between items-center px-6  py-4 md:px-24 md:py-10 max-w-7xl mx-auto">
    <a href="/" class="flex items-center gap-x-4">
      <p class="uppercase text-xl">XEPHAS</p>
    </a>
    <div class="flex md:hidden">
      <button id="hamburger-btn" class="text-yellow-200 focus:outline-none">
        </button>
    </div>
    <ul id="menu" class="hidden md:flex gap-x-8">
      <li><a href="/" class="text-yellow-200 font-bold">Home</a></li>
      <li><a href="/about" class="text-yellow-200 font-bold">About</a></li>
      <li><a href="/projects" class="text-yellow-200 font-bold">Projects</a></li>
      <li><a href="/techStack" class="text-yellow-200 font-bold">Tech Stack</a></li>

    </ul>
  </div>
</header>

<style>
  .navbar a {
    color: #fff; /* Base color for links */
    transition: color 0.2s ease-in-out; /* Smooth color transition */
  }
  header{
    z-index: 100;

  }

  .navbar a:hover {
    color: #fff; /* Hover color for links (adjust as needed) */
  }

  .navbar a.active {
    color: #00f; /* Highlight color for active link */
    font-weight: bold;
  }
</style>


  <!--Set active class on nav when the page is active -->
  <script>
    const nav = document.querySelector(".navbar");
    const navLinks = nav.querySelectorAll("a");
    const currentURL = window.location.href;
    navLinks.forEach((link) => {
      if (link.href === currentURL) {
        link.classList.add("active");
      }
    });
    
  </script>

