---
import { Image } from "astro:assets";
---

<header class="bg-sky-950">
    <div class="flex justify-between items-center px-6 py-4 md:px-24 md:py-10 max-w-7xl mx-auto">
      <a href="/" class="flex items-center gap-x-4">
        <p class="uppercase text-xl text-yellow-200">XEPHAS</p>
      </a>
      <div class="flex md:hidden">
        <button id="hamburger-btn" class="text-yellow-200 focus:outline-none">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>
      <ul id="menu" class="hidden md:flex gap-x-8">
        <li><a href="/" class="text-yellow-200 font-bold">Home</a></li>
        <li><a href="/about" class="text-yellow-200 font-bold">About</a></li>
        <li><a href="/projects" class="text-yellow-200 font-bold">Projects</a></li>
        <li><a href="/TechStack" class="text-yellow-200 font-bold">Tech Stack</a></li>
      </ul>
    </div>
  </header>
  

