<main class="px-24  max-sm:px-5 max-w-7xl mx-auto w-full overflow-x-auto main">

    <slot/>
    
</main>
    
<style>
    main {
  padding-top: 110px; /* Adjust as needed based on header height */
  padding-bottom: 80px;
}
</style>